[core]
	editor = code --wait
	longpaths = true
	excludesfile = {{ if (eq .chezmoi.os "windows") }}
		{{- joinPath .chezmoi.homeDir ".gitignore_global" | replace "\\" "\\\\" }}
	{{- else }}
		{{- joinPath .chezmoi.homeDir ".gitignore_global" }}
	{{- end }}
[user]
	name = {{ .name }}
	email = {{ .email }}
[credential "helperselector"]
	selected = manager-core
[init]
	defaultBranch = main
