[core]
	editor = code --wait
	longpaths = true
	excludesfile = C:\\Users\\simsr\\.gitignore_global
[user]
	name = {{ .name }}
	email = {{ .email }}
[credential "helperselector"]
	selected = manager-core
[init]
	defaultBranch = main
